/*
   jueves, 2 de enero de 202015:34:23
   Usuario: sa
   Servidor: DESKTOP-SQU6PUC\SQLEXPRESS
   Base de datos: MakUpCoffe
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Departamentos
	(
	IdDepartamento int NOT NULL IDENTITY (1, 1),
	Departamento nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Departamentos SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_Departamentos ON
GO
IF EXISTS(SELECT * FROM dbo.Departamentos)
	 EXEC('INSERT INTO dbo.Tmp_Departamentos (IdDepartamento, Departamento)
		SELECT IdDepartamento, Departamento FROM dbo.Departamentos WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_Departamentos OFF
GO
DROP TABLE dbo.Departamentos
GO
EXECUTE sp_rename N'dbo.Tmp_Departamentos', N'Departamentos', 'OBJECT' 
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Departamentos', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Departamentos', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Departamentos', 'Object', 'CONTROL') as Contr_Per 